.firstbackground {
	min-height: 100%;
	max-width: 1000px;
	width: 100%;
	top: 0;
	left: 0;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#heading {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 37px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
#headingp {
	color: rgb(255, 255, 255);
	font-size: 12px
}
.centerbottom {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 120px;

}
h4 {
	text-align: center;
}
#p1 {
	text-align: center;
}
#p2 {
	text-align: center;
}
#p3 {
	text-align: center;
}
#p4 {
	text-align: center;
}
.secondbackground {
	min-height: 100%;
	max-width: 1000px;
	width: 100%;
	top: 0;
	left: 0;

}
.centered2 {
	position: absolute;
	top: 170%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.centered3 {
	position: absolute;
	top: 370%;
	left: 50%;
	transform: translate(-50%,-50%);
    opacity: 0.6;
    border-color: transparent;

}
#headingp2 {
	color: rgb(255, 255, 255);
	text-align: center;
}
#p11 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 14px
}
#lastp {
	text-align: center;
	font-size: 14px
}
#p12 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 14px
}
#p13 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 14px
}
.column1wwd {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}
.column1text {
	padding: 5px;
	text-align: center;
	width: 33.33%;
	float: left;
	display:none;
}
.column2wwd {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}
.column2text {
	padding: 5px;
	text-align: center;
	width: 33.33%;
	float: left;
	display:none;
}
.column3wwd {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}
.column3text {
	padding: 5px;
	text-align: center;
	width: 33.33%;
	float: left;
	display:none;
}

.column2 {
  float: left;
  width: 23%;
  padding: 20px;
  text-align: center;
  background: rgb(240, 255, 235);
}
.column3 {
	float:left;
	width: 50%
	padding: 50px;
	text-align: center;
	position: absolute;
	left: 30%
	
}


#text {
	border : 2px solid #FFFFFF;
	float: left;

}
#email {
	border : 2px solid #FFFFFF;
	float: right;

}
#textarea {
	border : 2px solid #FFFFFF;

}
#button {
	border : 2px solid #FFFFFF;
	float: left;
	position: relative;
	left: 360px;

}
.h3final{
	color: rgb(255, 255, 255);
}
h3 {
	text-align: center;
}
form {
	border-color: transparent;
}
.img1:hover {
	transform: scale(1.1);
	background-size: 110%
}
.img1 {
	transition: 0.5s;
}
.img1:after {
	content: attr(data-text);
}
.img2:hover {
	transform: scale(1.2);
}
.img2 {
	transition: 0.5s;
}
.img2:after {
	content: attr(data-text);
}
.img3:hover {
	transform: scale(1.2);
}
.img3 {
	transition: 0.5s;
}
.img4:hover {
	transform: scale(1.2);
}
.img4 {
	transition: 0.5s;
}
.img5:hover {
	transform: scale(1.2);
}
.img5 {
	transition: 0.5s;
}
.img6:hover {
	transform: scale(1.2);
}
.img6 {
	transition: 0.5s;
}
.img7:hover {
	transform: scale(1.2);
}
.img7 {
	transition: 0.5s;
}
.img8:hover {
	transform: scale(1.2);
}
.img8 {
	transition: 0.5s;
}
